/* esta página se usa para darle estilo a la página de inicio */

body {
    display: flex;
    color: rgb(0, 0, 0);
    background-color: rgb(40, 39, 39);
    background-image: url('https://images.pexels.com/photos/12920871/pexels-photo-12920871.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* ajustar la imagen a la pestaña */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #848484;
    border-radius: 4px;
}

/* submit button is under the text area */
input[type=submit] {
    width: 100%;
    background-color: rgba(255, 68, 68, 0.697);
    border: 3px solid #6c6c6c;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button {
    /* bordes redondos */
    border-radius: 8px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}



#contenedor {
    background-color: rgba(138, 138, 138, 0.521);
    padding: 20px;
    margin: auto;
    width: auto;
    height: auto;
    border: 2px solid #676767;
    justify-content: center;
    text-align: center;
}

#resultados {
    background-color: rgba(81, 62, 62, 0.602);
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
    border: 2px solid rgb(111, 109, 106);
    transform: rotate(180deg);
}

#Calculadora {
    background-color: rgba(225, 225, 225, 0.499);
    color: rgb(45, 24, 24);
    width: auto;
    height: auto;
    padding: 20px;
    margin: auto;
    border: 2px solid #979a78;
}

#screen {
    background-color: rgba(44, 39, 39, 0.602);
    width: auto;
    height: auto;
    padding: 5px;
    position: relative;
    justify-content: center;
    text-align: center;
}

#TableOriginal {
    width: auto;
    position: center;
    border-spacing: 5px;
    margin: auto;
}

#accion{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
}

#submit{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 3px solid #000000;
    margin-top: 5px;
    width: auto;
    height: auto;
}

#resetear{
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 4px;
    margin-top: 5px;
    width: auto;
    height: auto;

}
#Descargar{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    margin-top: 5px;
    width: auto;
    height: auto;
    border: 0px;

}

.modificar{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    width: 40px;
    height: 30px;
    margin-top: 14px;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 1px;
}

/* mantener el cuadro de texto dentro del div */
.container {
    border-radius: 5px;
    background-color: #000000;
    height: auto;
}

/* centrar elementos */
.center {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

/* fondo blanco de un div */
.gristrans {
    background-color: rgba(81, 81, 81, 0.964);
    padding: 20px;
    margin: 10px;
    border-radius: 200px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-270 {
    transform: rotate(270deg);
}

.btndescargar {
    /* background-image: url('https://static.thenounproject.com/png/5006210-200.png'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    padding: 15px 15px;
    /* Ajusta elespaciado según sea necesario */
}

.imagenenter {
    background-image: url('https://static.thenounproject.com/png/2718465-200.png');
    background-repeat: no-repeat;
    background-color: rgba(100, 102, 204, 0.585);
    background-position: center center;
    background-size: 40px 40px;
    padding: 23px 20px;
    /* Ajusta el espaciado según sea necesario */
}

.btn {
    background-color: rgba(100, 102, 204, 0.585);
    color: rgb(0, 0, 0);
}

.delete {
    background-image: url('https://uxwing.com/wp-content/themes/uxwing/download/web-app-development/backspace-erase-icon.png');
    background-repeat: no-repeat;
    background-color: rgba(100, 102, 204, 0.585);
    background-position: center center;
    background-size: 20px 20px;
    padding: 23px 20px;
    /* Ajusta el espaciado según sea necesario */
}

/* fondo blanco a un text area */
.textarea {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
}

.matriz {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
    border: 2px solid #000000;

}

.matrix-input {
    width: 20px;
}

.hidden {
    display: none;
}

table {
    width: auto;
}

.miTabla {
    width: auto;
    position: center;
}
.tabla-inversa table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-inversa td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
}